---
title: "PhoMemes 2023"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/AdobeStock_205325080.demo.jpeg
excerpt: "Second Workshop on Images in Online Political Communication"
feature_row:
  - image_path: assets/images/AdobeStock_230307188.photographer.jpeg
    alt: "Freelance photographer journalist takes a photo of a public demonstration"
    title: "Imaging Protests"
    excerpt: "Exposure to images of demonstrations impact mobilization"
  - image_path: assets/images/CC.Math.jpg
    alt: "Meme critical of common core math"
    title: "Memes as Political Discourse"
    excerpt: "Memes are increasingly used to criticize political topics, provide vectors of incidental exposure to topics, and can influence public discourse"
  - image_path: /assets/images/QAnon.Protest.jpg
    image_caption: "Image courtesy of [Crider](https://www.flickr.com/photos/acrider/49416341132/)"
    alt: "Flag for the baseless conspiracy theory, QAnon"
    title: "Sharing conspiracy theories"
    excerpt: "Images serve as a vector for exposure"
---

{% capture front_matter %}
Datasets for Data Challenge 1 and 2 are available on [Google Drive](https://drive.google.com/drive/folders/17Ehr0LZBBnXuHfW7gqJFqiRbDv2mr5gM), with submission instructions on [GitHub](https://github.com/phomemes/phomemes.github.io/tree/main/leaderboards). 
{: .notice--info}
You can submit your articles via [EasyChair](https://easychair.org/my/conference?conf=phomemes2023). 
{: .notice--info}
Co-located at [ICWSM 2023](https://icwsm.org/2023), 5th June 2023 - Cyprus and online 
{: .notice--info}
{% endcapture %}

{{ front_matter | markdownify }}

This workshop seeks to establish the limits of current capabilities in understanding the role and use of images in online political discourse, from misinformation and disinformation to political advertising and mobilization.

<hr>

{% include feature_row %}

{% capture my_include %}{% include homepage.md %}{% endcapture %}
{{ my_include | markdownify }}




